{% extends "main.html" %}

{% block title %}
    Board Game Dashboard
{% endblock %}

{% block section_content %}
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <form class="w-75" method="post" action="">
            {% csrf_token %}
            <h2 class="mb-4">Cadstro de jogo</h2>
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}    
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">Criar jogo</button>
        </form>
    </div>
{% endblock %}