{% extends "base.html" %}

{% block title %}Main{% endblock title %}

{% block content %}
<div class="d-flex">
    <nav class="flex-column bg-primary p-3" style="width: 250px; height: 100vh;">
        <h4>Boardgame Rank</h4>
        <a href="#" class="nav-link">Perfil</a>
        <a href="#" class="nav-link">Jogos</a>
        <a href="#" class="nav-link">Temporadas</a>
        <a href="#" class="nav-link">Partidas</a>
    </nav>
    <div class="flex-grow-1 p-4">{% block section_content %}{% endblock section_content %}</div>
</div>
{% endblock content %}