{% extends "login/base.html" %}

{% block title %}Boardgame Rank - Login{% endblock title %}

{% block login_content %}
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
        <form class="w-75" method="post" action="">
            {% csrf_token %}
            <h2 class="mb-4">Cadastro de usuário</h2>
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label_tag }}    
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">Criar usuário</button>
        </form>
        <p>
            Já possui cadastro? <a href="{% url 'login' %}">Faça o login</a>
        </p>
    </div>
{% endblock login_content %}